@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/src/assets/wolt.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
