@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
