@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/src/assets/wolt.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.custom-datepicker {
  width: 50%;
  height: 40px;
  padding-left: 12px;

  font-family: "Poppins", sans-serif;
  border-radius: 3px;
  border: 1px solid rgb(197, 193, 193);
  font-weight: 400;
}
